<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learning materials</title>
    <link rel="stylesheet" href="/static/style3.css">
</head>
<body>
    <h2>learning materials</h2>
    {% for material in learning_materials %}
        <h3>{{ material.title }}</h3>
        <p>{{ material.content }}</p>
    {% endfor %}

    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>
